body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: #3b7740;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom-color: #3B7740;
}

nav a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 20px;
	color: #FFFFFF;
}

nav a:hover {
	border-bottom-color: white;
}

button {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 20px 10px 20px;
	background-color: #499550;
	color: #FFFFFF;
	padding: 20px;
	border: none;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #3b7740;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #d14140;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #3b7740;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 20px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #d14140;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

footer a {
	color: white;
}
footer a:hover {
	border-bottom-color: #FFFFFFFF;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.name {
	color: #000000;
	font-weight: 700;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}